.chat
  = render 'layouts/sidebar'
  .chat-main
    .chat-header.clearfix
      .chat-header--left
        %h2= @message.group.name
        .chat-header__users
          %span.chat-header__user= "Menber #{@message.user.name}"
      .chat-header--right
        = link_to 'Edit' ,edit_group_path(params[:group_id]), class: "chat-header__edit-btn"
    .chat-body
      %ul.chat-messages
        %li.chat-message
          .chat-message__header.clearfix
            %p.chat-message__name= @message.user.name
            %p.chat-message__time= @message.created_at.strftime('%Y/%m/%d %H:%M')
            %p.chat-message__body= @message.text if @message.text?
    .chat-footer
      %form.new_message{"id"=>"new_message", "enctype"=>"multipart/form-data", "action"=>"/chat_groups/1312/messages", "accept-charset"=>"UTF-8", "method"=>"post"}
        %input{"name"=>"utf8", "type"=>"hidden", "value"=>"✓"}
        %input{"type"=>"hidden", "name"=>"authenticity_token", "value"=>"+awsXY+kD239b84Zwj0NZMj9QOgZnLW5e4U3YFjoUlOU/07YKRsRhP5vghFCkBGH7m7j6p2tEhoBXMFW6p4QXg=="}
        .chat-footer__body
          %textarea{"row"=>"1", "placeholder"=>"type a message", "name"=>"message[body]", "id"=>"message_body"}
          %label.chat-footer__file
            %i.fa.fa-image
              %input{"type"=>"file", "name"=>"message[image]", "id"=>"message_image"}
        %input{"type"=>"submit", "name"=>"commit", "value"=>"Send", "data-disable-with"=>"Send"}
