.chat
  = render 'layouts/sidebar'
  .chat-main
    .chat-header.clearfix
      .chat-header--left
        %h2= @group.name
        .chat-header__users
          %span.chat-header__user= "Member #{@group.users.pluck(:name).join}"
      .chat-header--right
        = link_to 'Edit' ,edit_group_path(@group), class: "chat-header__edit-btn"
    .chat-body
      %ul.chat-messages
        = render partial: 'messages/chat_body', collection: @messages
    .chat-footer
      = form_for [@group, @message], id: 'new_message', html: {class: 'new_message'} do |f|
        .chat-footer__body
          = f.text_field :text, placeholder: 'type a message', row: 1, id: 'message_body', class: 'js-form__text-field'
          %label.chat-footer__file
            %i.fa.fa-image
              = f.file_field :image, class: "image_form_button"
        = f.submit 'Sent'