.chat-group-form
  %h1 新規チャットグループ
  = form_for (@group) do |f|
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :name, "グループ名", class: "chat-group-form__label"
      .chat-group-form__field--right
        = f.text_field :name, placeholder: "グループ名を入力してください", class: "chat-group-form__input", id: "chat_group_name"
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        %label.chat-group-form__label{ for: "chat_group_チャットメンバーを追加" } チャットメンバー
      .chat-group-form__field--right
        .chat-group-form__search.clearfix
          %input#user-search-field.chat-group-form__input{ type: "text", placeholder: '追加したいユーザー名を入力してください' }
        #user-search-result
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label "チャットメンバー", id: "chat_group_チャットメンバー", class: "chat-group-form__label"
      .chat-group-form__field--right
        #chat-group-users
          #chat-group-user-22.chat-group-user.clearfix
            %input{:name => "chat_group[user_ids][]", :type => "hidden", :value => "22"}/
            %p.chat-group-user__name hikari
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit "Save", data: { disable_with: "Save" },name: "commit", class: "chat-group-form__action-btn"
