.chat-group-form
  %h1 新規チャットグループ
  = form_for @group do |f|
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :name, 'グループ名', class: 'chat-group-form__label'
      .chat-group-form__field--right
        = f.text_field :name, placeholder: 'グループ名を入力してください', class: 'chat-group-form__input', id: 'chat_group_name'
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label 'チャットメンバーを追加', class: 'chat-group-form__label'
      .chat-group-form__field--right
        %input#user-search-field.chat-group-form__input{ type: "text", placeholder: "メンバーを追加してください"}
        .chat-group-user__list
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label 'チャットメンバー', id: 'chat_group_チャットメンバー', class: 'chat-group-form__label'
      .chat-group-form__field--right
        #chat-group-users
          .chat-group-user.clearfix
            .chat-group-user__name #{current_user.name}
            .chat-group-add-user__name
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit 'Save', class: 'chat-group-form__action-btn'
