.chat-side
  .chat-user.clearfix
    %h5= current_user.name
    .chat-user__actions
      = link_to new_group_path, class: "chat-user__action" do
        %i.fa.fa-pencil-square-o
      = link_to edit_user_registration_path, class: "chat-user__action" do
        %i.fa.fa-cog
  - @groups.each do |group|
    %ul.chat-groups
      %li.chat-group
        = link_to group_messages_path(group), class: "chat-group__link" do
          %p.chat-group__name= group.name
          %p.chat-group__message= group.messages.first.text
